<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Home automation test</title>
    <meta name="description" content="Trigger multiple services with IFTTT">
    <link id="favicon" rel="icon" href="https://casa-do-sr.glitch.me/images/casasr_icon-darkgreyblue_256.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/toggleButtons.css">
  </head>
 
  <body>
    <header>
      <img src="/images/casasr_icon-darkgreyblue_256.png" alt="Home" width="30" class="breadcrum" >
      <h2 class="breadcrum">Casa do Sr.</h2>
    </header>
    <section>
      <select id="userList" onchange="showUserThings(this.value);" ondblclick="onchange();">
        {{#usersData}}
        <option value="{{key}}">{{name}}</option>
        {{/usersData}}
      </select>
      <select id="wfList" onchange="runWf(this.value);" ondblclick="onchange();">
        {{#wfs}}
        <option value="{{name}}">{{name}}</option>
        {{/wfs}}
      </select>

      <div id="thingsList" class="things-section">
      </div>
    </section>

    <!-- 
    <section>
      <form action="/ifttt" method="POST" >
        <span>IFTTT simulate trigger:</span>
      <input type="hidden" name="showResults" value="true">
      <input list="triggers" name="trigger">
      <datalist id="triggers">
        {{#iftttEvents}}
        <option value="{{.}}">
        {{/iftttEvents}}
      </datalist>
      <input type="submit">
    </form>
    </section>
    -->
    <footer>
      <h4 id="logHeader" class="footer-title">Log</h4>
      <div id="socketLog" class="txt-log">

      </div>
    </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
