<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Group</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    {{#things}}
    <tr>
        <td>{{name}}</td>
        <td>{{_type}}</td>
        <td>{{group}}</td>
        <td>{{_state}}{{#progress}} - {{progress}}{{/progress}}</td>
        <td>
        {{#iftttConnected}}
            <form action="/ifttt" method="POST" target="_blank">
            <input type="hidden" name="showResults" value="true">
            <input type="hidden" name="trigger" value="{{name}}_{{nextState}}">
            <input type="hidden" name="key" value="{{_ownerKey}}">
            <input type="hidden" name="thing" value="{{name}}">
            <input type="hidden" name="state" value="{{nextState}}">
            <input type="submit" value="Turn {{nextState}}" style="padding: 0px 6px">
        {{/iftttConnected}}
        </td>
    </tr>
    {{/things}}
</table>
