<table class="group-things-container">
    {{#showHeaders}}
    <thead>
        <th>Name</th>
        {{#showTypeHeader}}<th>Type</th>{{/showTypeHeader}}
        {{#showGroupHeader}}<th>Group</th>{{/showGroupHeader}}
        <th>State</th>
    </thead>
    {{/showHeaders}}
    {{#things}}
    <tr>
        <td title="{{name}} {{_state}}">{{label}}</td>
        {{#showTypeHeader}}<td>{{_type}}</td>{{/showTypeHeader}}
        {{#showGroupHeader}}<td>{{group}}</td>{{/showGroupHeader}}
        <td>
        <span>
        {{> thingStateControl}}
        </span>
        </td>
    </tr>
    {{/things}}
</table>
