/* styles */
/* called by your view template */

:root {
  /* color theme variables */
  --bg-color: #f0f1f2;
  --bg-brighter-nuance-color: #fafbfc;
  --bg-bright-nuance-color: #f5f6f7;
  --bg-title1-color: #c6d6e0;
  --bg-title2-color: #dae0e6;
  --bg-butt-highlight-color: #abc;
  --bg-button-color: #607d8b;
  --border-color: var(--bg-title2-color);
  --txt-color: #000;
  --txt-link-color: #247;
  --txt-highligh-color: var(--bg-button-color);
  --err-color: #a20;
}

body {
  /* inherited from https://www.w3schools.com/w3css/4/w3.css
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;
  margin:auto;
  */
  max-width:1600px;
  color: var(--txt-color);
  background-color: var(--bg-color);
}

main, section {
  /* from w3.css w3-padding-large */
  padding:12px 24px;
}

a {
  color:var(--txt-link-color);
  text-decoration: none;
}
a:hover {
  color: var(--txt-highligh-color);
  text-decoration: underline;
}

input {
  /* from w3.css w3-input */
  padding:8px;border:none;border-bottom:1px solid var(--border-color);
  vertical-align:middle;
}

button, input[type="submit"], input[type="button"] {
  /* from w3.css w3-button */
  border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;
  /* from w3.css w3-blue-grey */
  color:var(--bg-color)!important;background-color:var(--bg-button-color)!important;
  /* from w3.css w3-ripple */
  transition:opacity 0.1s;
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover{
  /* from w3.css w3-button */
  color:var(--txt-color)!important;background-color:var(--bg-butt-highlight-color)!important
}
button:active, input[type="submit"]:active, input[type="button"]:active{
  /* from w3.css w3-ripple */
  opacity:0.5;
}
button:disabled, input[type="submit"]:disabled, input[type="button"]:disabled {
  /* from w3.css w3-button */
  cursor:not-allowed;opacity:0.3;
}

select {
  /* from w3.css w3-select */
  padding:9px 0;border:none;border-bottom:1px solid var(--border-color);
  vertical-align:middle;

}

/* from w3.css w3-ul */
ul {list-style-type:none;padding:0;margin:0}
li{padding:8px 16px;border-bottom:1px solid var(--border-color)}
li:hover{background-color:var(--bg-brighter-nuance-color)}
li:last-child{border-bottom:none}

/* from w3.css w3-table */
table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
thead{border-bottom:2px solid var(--border-color)}
tr{border-bottom:1px solid var(--border-color)}
tr:nth-child(odd){background-color:var(--bg-brighter-nuance-color)}
tr:nth-child(even){background-color:var(--bg-bright-nuance-color)}
tbody tr:hover{background-color:var(--border-color)}
td,th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
th:first-child,th:first-child,td:first-child{padding-left:16px}

/* avoid line breaks on Forms */ 
form { display:inline; margin:0; padding:0; }

header {
  background-color: var(--bg-title1-color);
  margin:0;
  padding: 8px;
}

footer {
  background-color: var(--bg-bright-nuance-color);
  margin: 8px 0px 0px 0px;
  padding: 0px;
  position: fixed;
  bottom:0;
  width: 100%;
}



.error-text {
  color: var(--err-color);
}

.breadcrum {
  display: inline;
  vertical-align: middle;
  margin: 0px 4px;
}

.group-title {
  background-color: var(--bg-title2-color);
  font-size: 18px;
  margin:0;
  padding: 4px;
}

.things-section {
  margin: 10px 0px;
}
.group-things-container {
  margin-left: 40px;
}
.thing-container {
  display: grid;
  grid-template-columns: minmax(150px, auto) auto auto 1fr;
  grid-template-areas: "name type group state";
  grid-column-gap: 2px;
    
}
.thing-name {
  grid-area: name;
}
.thing-type {
  grid-area: type;
}
.thing-group {
  grid-area: group;
}
.thing-state {
  grid-area: state;
}


.footer-title {
  background-color: var(--bg-title1-color);
  font-size: 14px;
  margin: 0px;
  padding: 4px 12px;
  cursor: pointer;
}

.txt-log {
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
  padding: 0px 20px;
  display: none;
}

/*
* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
*/